VITE_FIREBASE_API_KEY=AIzaSyCZmxFk54uRI6lPx_OqwlH4uZ5jdqoVL6Y
VITE_FIREBASE_AUTH_DOMAIN=roomkhmer-dbb8a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=roomkhmer-dbb8a
VITE_FIREBASE_STORAGE_BUCKET=roomkhmer-dbb8a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=521094423053
VITE_FIREBASE_APP_ID=1:521094423053:web:026465ee0e92733bc4ab44
VITE_CLOUDINARY_CLOUD_NAME=zorqbom5
VITE_CLOUDINARY_UPLOAD_PRESET=roomkhmer_upload  